<%- include('../partials/head') %>

        <link href="/css/product-styles.css" rel="stylesheet">
        <link href="/css/header.css" rel="stylesheet">

        </head>

        <body>

                <%- include('../partials/header') %>

                        <main>
                                        <section class="main_product">
                                                <table>
                                                        <thead>
                                                                <tr>
                                                                        <th>
                                                                                Id
                                                                        </th> 
                                                                        <th>
                                                                                Nombre
                                                                        </th>
                                                                         <th>
                                                                                Eliminar
                                                                        </th>
                                                                </tr>
                                                        </thead>
                                                        <tbody>
                                                                <% products.forEach(product => { %>
                                                                        <tr>
                                                                                <td><%= product.id%> </td>
                                                                                <td><%= product.name%> </td>
                                                                                <td>
                                                                                        <form action="/product/delete/<%= product.id%>?_method=DELETE" method="POST"> 
                                                                                        <button type="submit">ELIMINAR</button>
                                                                                        </form>        
                                                                                </td>
                                                                        </tr>
                                                              <%     } ) %> 
                                                        </tbody>
                                                </table>
                                        </section>

                                        


                        </main>


        </body>

        </html>