<%- include('../partials/head') %> 
    
<link href="/css/product-styles.css" rel="stylesheet">
<link href="/css/header.css" rel="stylesheet">
<link href="/css/footer.css" rel="stylesheet">

</head>

<body>
    
    <%- include('../partials/header') %> 

    <main>
        <p class="banner">ENVIOS GRATIS A PARTIR DE $1000!</p>
        <section class="main_product1">
                <div class="contenedor">  <h5 class="titulo"></h5>
                    <img src="/images/products/<%= product.image %> ">
                    <p class="descripcion">$ <%= product.price %> </p>
                    <p class="descripcion">Impuestos incluidos</p>
                    <a href="./user/cart"><button class="cart_button">Agregar al carrito</button></a>
                    </div>  
            <div class="description"><%= product.description %> </div>
        
    </main>
    
    <%- include('../partials/footer') %> 

</body>
</html>